@font-face {
	font-family: 'Conv_futuramediumbt';
	src: url('futuramediumbt.eot');
	src: local('☺'), url('futuramediumbt.woff') format('woff'), url('futuramediumbt.ttf') format('truetype'), url('futuramediumbt.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

