@import url("../../../assets/fonts/futura-medium.css");
@import url("../../../assets/fonts/futura-bold.css");
@import url("../../../assets/fonts/futura-book.css");
@import url("../../../assets/fonts/futura-medium-italic.css");
.middle-section .middle-inner .request-for-quotation {
  background-color: #f5f5f5;
}

.middle-section .middle-inner .top-suppliar-section {
  background-color: #f5f5f5;
}

.middle-section .middle-inner .bid-now-section {
  background-color: #f5f5f5;
}

.middle-section .middle-inner .ready-to-ship-section {
  background-color: #f5f5f5;
}

.middle-section .middle-inner .service-provider-section {
  background-color: #f5f5f5;
}

.middle-section .middle-inner .logo-section {
  background-color: #f5f5f5;
}

.middle-section .middle-inner .ourservice-section {
  background-color: #f5f5f5;
}

.footer .copy-right-section {
  background-color: #f5f5f5;
}

.home-banner-section {
  width: 100%;
  margin: 20px 0 0 0;
  background-color: #fafafa;
  min-height: 582px;
}

.home-banner-section .banner-div {
  position: relative;
}

.home-banner-section .banner-div .banner-image {
  position: relative;
  width: 100%;
}

.home-banner-section .banner-div .banner-image::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
}

.home-banner-section .banner-div .banner-image img {
  height: 100%;
  width: 100%;
  min-height: 582px;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-banner-section .banner-div .banner-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 99;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-banner-section .banner-div .banner-caption .content {
  text-align: center;
}

.home-banner-section .banner-div .banner-caption .content h2 {
  font-size: 38px;
  line-height: 40px;
  font-family: "Conv_Futura Bold";
  color: #fafafa;
  margin-bottom: 5px;
}

.home-banner-section .banner-div .banner-caption .content p {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 38px;
  font-family: "Conv_futuramediumbt";
  margin-bottom: 40px;
}

.home-banner-section .banner-div .banner-caption .content .home-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-banner-section .banner-div .banner-caption .content .home-buttons .btn {
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  height: 51px;
  max-width: 233px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Conv_futuramediumbt";
  margin: 0 5px;
}

.home-banner-section .banner-div .banner-caption .content .home-buttons .btn-shop {
  background-color: #FFC20F;
  color: #222221;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-banner-section .banner-div .banner-caption .content .home-buttons .btn-shop:hover {
  -webkit-box-shadow: 0 12px 24px 0 rgba(255, 194, 15, 0.3);
          box-shadow: 0 12px 24px 0 rgba(255, 194, 15, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-banner-section .banner-div .banner-caption .content .home-buttons .btn-request {
  background-color: transparent;
  color: #fff;
  border-color: #979797;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-banner-section .banner-div .banner-caption .content .home-buttons .btn-request:hover {
  -webkit-box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.15);
          box-shadow: 0 12px 24px 0 rgba(255, 255, 255, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-banner-section .owl-theme .owl-nav {
  position: absolute;
  top: calc(50% - 50px);
  right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
}

.home-banner-section .owl-theme .owl-nav button {
  height: 47px;
  width: 47px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0;
}

.home-banner-section .owl-theme .owl-nav button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.home-banner-section .owl-theme .owl-nav button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #FFC20F;
  border: 0px solid white;
}

.header .navbar .serach-form .search-group .form-control {
  height: 50px;
}

.header .navbar .serach-form .search-group button {
  color: #fff;
  height: 50px;
}

.header .navbar .serach-form .search-group .search-select-prodcut {
  height: 50px;
}

.header .navbar .serach-form .search-group .search-select-prodcut .select2-container--default .select2-selection--single {
  height: 40px !important;
}

.header .navbar .serach-form .search-group .search-select-prodcut .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
}

.header .navbar .serach-form .search-group .search-select-prodcut .select2-container--default .select2-selection--single .select2-selection__rendered::after {
  height: 30px;
}

.header .navbar .serach-form .search-group .search-select-prodcut .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.sub-header {
  margin-top: 98px;
}

.product-service-lsiting .list-box .list-img span.icon {
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  mask-size: contain;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 35px;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.product-service-lsiting .list-box .list-img .icon-home {
  -webkit-mask: url(../images/sector-icon/s6.svg) no-repeat 50% 50%;
  mask: url(../images/sector-icon/s6.svg) no-repeat 50% 50%;
  width: 144px;
  height: 70px;
}

.product-service-lsiting .list-box .list-img .icon-proofing-specialist {
  -webkit-mask: url(../images/sector-icon/s4.svg) no-repeat 50% 50%;
  mask: url(../images/sector-icon/s4.svg) no-repeat 50% 50%;
  width: 144px;
  height: 70px;
}

.product-service-lsiting .list-box .list-img .icon-cleaner-specialist {
  -webkit-mask: url(../images/sector-icon/s2.svg) no-repeat 50% 50%;
  mask: url(../images/sector-icon/s2.svg) no-repeat 50% 50%;
  width: 144px;
  height: 70px;
}

.product-service-lsiting .list-box .list-img .icon-tree-surgon {
  -webkit-mask: url(../images/sector-icon/s8.svg) no-repeat 50% 50%;
  mask: url(../images/sector-icon/s8.svg) no-repeat 50% 50%;
  width: 144px;
  height: 70px;
}

.product-service-lsiting .list-box .list-img .icon-tradmen {
  -webkit-mask: url(../images/sector-icon/s3.svg) no-repeat 50% 50%;
  mask: url(../images/sector-icon/s3.svg) no-repeat 50% 50%;
  width: 144px;
  height: 70px;
}

.product-service-lsiting .list-box .list-img .icon-tiler {
  -webkit-mask: url(../images/sector-icon/s5.svg) no-repeat 50% 50%;
  mask: url(../images/sector-icon/s5.svg) no-repeat 50% 50%;
  width: 144px;
  height: 70px;
}

.product-service-lsiting .list-box .list-img .icon-tarmac {
  -webkit-mask: url(../images/sector-icon/s7.svg) no-repeat 50% 50%;
  mask: url(../images/sector-icon/s7.svg) no-repeat 50% 50%;
  width: 144px;
  height: 70px;
}

.product-service-lsiting .list-box .list-img .icon-stonmason {
  -webkit-mask: url(../images/sector-icon/s1.svg) no-repeat 50% 50%;
  mask: url(../images/sector-icon/s1.svg) no-repeat 50% 50%;
  width: 144px;
  height: 70px;
}

.product-service-lsiting .list-box:hover {
  background: #ffffff;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: 0 4px 30px 2px #f2f2f2;
          box-shadow: 0 4px 30px 2px #f2f2f2;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.product-service-lsiting .list-box:hover .list-img span.icon {
  background-color: black !important;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  opacity: 1;
}

.product-service-lsiting .list-box:hover h3 {
  color: #000000;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.product-service-lsiting .list-box:hover h3::after {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 320px) {
  .home-banner-section .home-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px !important;
  }
  .home-banner-section .home-buttons .btn {
    width: 100%;
    margin-bottom: 10px !important;
  }
}

@media (max-width: 767px) {
  .search-select-prodcut .select2-container--default .select2-selection--single .select2-selection__rendered::after {
    top: 2px !important;
  }
  .home-banner-section .banner-div .banner-image img {
    height: 100%;
    min-height: calc(100vh - 150px);
    width: 100%;
    max-height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-banner-section .banner-div .banner-caption .content {
    text-align: center;
  }
  .home-banner-section .banner-div .banner-caption .content h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .home-banner-section .banner-div .banner-caption .content p {
    font-size: 16px;
    font-family: "futurabook";
    line-height: 26px;
  }
  .home-banner-section .banner-div .banner-caption .content .home-buttons .btn {
    height: 45px;
    font-size: 14px;
    white-space: nowrap;
  }
  .home-banner-section .owl-theme .owl-nav {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0px;
    left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 90px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid white;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .home-banner-section {
    width: 100%;
  }
  .home-banner-section .banner-div .banner-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-banner-section .banner-div .banner-caption .content {
    text-align: center;
  }
  .home-banner-section .banner-div .banner-caption .content h2 {
    font-size: 34px;
    line-height: 40px;
  }
  .home-banner-section .banner-div .banner-caption .content p {
    font-size: 20px;
    line-height: 26px;
  }
}
/*# sourceMappingURL=home.css.map */