$futura-book: "futurabook";
$futura-medium: "Conv_futuramediumbt";
$futura-bold: "Conv_Futura Bold";
$futura-medium-italic: "FuturaBT-MediumItalic";

.shipping-info-list-root-div {
  padding: 0;
  margin: 0;
  position: relative;

  .shipping-info-list-inner-div {
    padding: 0;
    margin: 0;
    position: relative;
  }

  .shipping-info-list-box {
    padding: 0;
    margin: 0 0 10px 0;
    position: relative;
    background: #fafafa;

    .shipping-info-list-box-top {
      padding: 30px;
      margin: 0;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      .left-sp-div {
        padding: 0;
        margin: 0;
        position: relative;
        width: 65%;

        .sp-box {
          padding: 0;
          margin: 0;
          position: relative;
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;

          .product-tbl-img {
            .img-link {
              display: block;
            }

            .img-responsive {
              height: 60px;
              width: 60px;
              border-radius: 100px;
              object-fit: cover;
            }
          }

          .product-tbl-description {
            padding: 4px 0 4px 20px;
            margin: 0;
            position: relative;
            width: calc(100% - 60px);

            h3 {
              font-size: 24px;
              color: #373738;
              margin: 0;
              font-family: $futura-medium;

              a {
                color: inherit;
                text-decoration: none;
              }
            }

            p {
              margin: 0;
              color: #727272;
              font-style: italic;
            }
          }
        }
      }

      .right-sp-div {
        padding: 0;
        margin: 0;
        position: relative;
        width: 35%;

        .sp-d-content {
          padding: 0;
          margin: 0;

          p {
            margin: 0;
            color: #727272;
            text-align: right;
            font-size: 13px;
            font-family: $futura-medium;

            .block {
              display: block;
            }
          }
        }
      }
    }

    .radio-block-div-sp {
      padding: 0 30px 20px 30px;
      margin: 0;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      .row-radio-block {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      .custom-radio {
        margin: 0 24px 10px 0;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;

        .custom-control-input {
          display: none;
        }

        .custom-control-label {
          padding-left: 6px;
          line-height: 26px;
          padding-top: 1px;
          cursor: pointer;
        }
      }
    }

    .collapse-root-div {
      padding: 0;
      margin: 0;
      position: relative;

      .collapse-box-div {
        &.hidden-box {
          display: none;
        }

        .collapse-toggle-link {
          background-color: #f0f0f0;
          width: 100%;
          padding: 10px 60px 9px 30px;
          color: #1b2125;
          margin: 0;
          font-size: 16px;
          line-height: 21px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;

          .fe {
            position: absolute;
            right: 30px;
            font-size: 20px;
            color: #222221;
            transform: rotate(-180deg);
            transition: all 0.8s;
          }

          &.collapsed {
            .fe {
              transform: rotate(0deg);
            }
          }
        }

        .collapse-box-body-div {
          .collapse-inner-body {
            padding: 30px;
            margin: 0;
            position: relative;
            background: #f0f0f0;
            border-top: 1px solid #cecece;

            .row-flex {
              margin-bottom: 0;

              .col-flex01 {
                background-color: #fff;
              }
            }

            .map-view-root {
              margin: 0 0 10px 0;

              iframe.iframe-cust-map {
                height: 285px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.custom-sp-table-root {
  table.dataTable.no-footer {
    border-bottom: 1px solid rgba(232, 232, 232, 0.4);
  }

  .table-admin tbody tr td {
    border-top: 10px solid #f0f0f0 !important;
    border-bottom: 1px solid rgba(232, 232, 232, 0.4);
  }

  .table-admin {
    .custom-checkbox .custom-control-label::before {
      border: 2px solid #e8e8e8;
    }

    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      border-color: #ffc20f;
    }

    thead {
      background: rgba(34, 34, 33, 0.5);
      tr {
        th {
          font-size: 12px;
          color: #fafafa;
          line-height: 20px;
          border-bottom: 0px solid #111;
          white-space: nowrap;
          text-transform: uppercase;
          font-family: $futura-bold;
          padding: 6px 20px 6px 12px;
        }
      }
    }

    tbody {
      tr {
        td {
          font-size: 13px;
          color: #727272;
          letter-spacing: -0.1px;
          line-height: 18px;
          vertical-align: middle;
          padding: 22px 12px;
          font-family: $futura-medium;
          border-top: 1px solid rgba(232, 232, 232, 0.4);

          .border-right {
            position: relative;
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 10%;
              height: 80%;
              right: 0;
              background-color: #cbcbcb;
            }
          }

          .seller-table-td {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .product-content-img {
              padding: 0 0px;
              margin-right: 10px;
              height: 60px;
              width: 60px;
              min-width: 60px;
              border-radius: 100px;
              border: 2px solid #cbcbcb;
              background-color: #fafafa;

              .img-fluid {
                width: 100%;
                height: 100%;
                border-radius: 100px;
                border: 3px solid #ffffff;
                object-fit: contain;
              }
            }

            .product-content {
              min-width: 150px;
              max-width: 150px;

              a {
                display: block;
                text-decoration: none;
                color: #373738;
              }

              h3 {
                font-size: 16px !important;
                color: #373738;
                letter-spacing: 0;
                font-family: "Conv_futuramediumbt";
                margin: 0 !important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                max-width: 98%;
              }

              p {
                font-size: 12px;
                color: #727272;
                letter-spacing: 0;
                margin: 0;
              }
            }
          }

          h5 {
            margin: 0;
            font-size: 16px;
            color: #373738;
          }

          .text-center-align {
            p {
              margin: 0;
            }
          }

          .user-shoping-cart-action {
            text-align: right;

            .right-text {
              display: flex;
              justify-content: flex-end;
              flex-wrap: wrap;
            }

            a.link-wt-icon {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              text-decoration: none;
              color: #0f62ff;
              font-weight: 500;
              font-size: 12px;

              .fe.fe-chevron-right {
                margin: 0 0 0 5px;
              }
            }
          }
        }

        .second-col {
          span {
            display: block;
            white-space: nowrap;
            height: 24px;
          }
        }
      }
    }
  }
}

.middle-section {
  .middle-inner {
    .shopping-cart-section {
      .shopping-cart-tab {
        .cart-tab-body {
          .payment-selection {
            .payment-option-shopping-tb {
              .payment-option-box {
                .payment-card-label {
                  h3 {
                    margin: 0 0 5px 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.cart-icon-01 {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 30px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='30px' height='18px' viewBox='0 0 30 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ecart-icon-01%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='035' transform='translate(-745.000000, -595.000000)'%3E%3Cpath d='M831.990965,410.5 C832.683787,410.5 833.311022,410.780807 833.765071,411.234714 C834.219123,411.688624 834.5,412.31565 834.5,413.00809 L834.5,413.00809 L834.5,773.99191 C834.5,774.684762 834.21958,775.312042 833.765508,775.765971 C833.311742,776.219595 832.684622,776.5 831.990965,776.5 L831.990965,776.5 L124.009035,776.5 C123.316213,776.5 122.688978,776.219193 122.234929,775.765286 C121.780877,775.311376 121.5,774.68435 121.5,773.99191 L121.5,773.99191 L121.5,413.00809 C121.5,412.315238 121.78042,411.687958 122.234492,411.234029 C122.688258,410.780405 123.315378,410.5 124.009035,410.5 L124.009035,410.5 Z' id='Rectangle-2' stroke='%23E8E8E8' fill='%23FFFFFF'%3E%3C/path%3E%3Cg id='Input-box-Copy-2' transform='translate(161.000000, 557.000000)'%3E%3Crect id='Rectangle-11' stroke='%23DDDDDD' stroke-width='1.20000005' fill='%23FFFFFF' x='0.600000024' y='23.6' width='632.800021' height='49.200002'%3E%3C/rect%3E%3Ctext id='Head' font-family='FuturaBT-Medium, Futura' font-size='12' font-weight='400' fill='%23222221'%3E%3Ctspan x='0' y='12'%3ELast Name%3C/tspan%3E%3C/text%3E%3Ctext id='Enter-input' opacity='0.4' font-family='FuturaBT-Book, Futura' font-size='16' font-weight='300' fill='%23727272'%3E%3Ctspan x='17.5667506' y='54'%3EEnter input%3C/tspan%3E%3C/text%3E%3C/g%3E%3Cg id='cart-icon-01' transform='translate(745.000000, 595.000000)'%3E%3Cpath d='M28.008383,0.5 C28.4202439,0.5 28.7930878,0.667174902 29.0629571,0.937514658 C29.3330621,1.20809057 29.5,1.5819657 29.5,1.99508929 L29.5,1.99508929 L29.5,16.0049107 C29.5,16.4172371 29.3319956,16.7904357 29.0620178,17.0608843 C28.7915494,17.3318242 28.4185007,17.5 28.008383,17.5 L28.008383,17.5 L1.99161703,17.5 C1.57975607,17.5 1.20691219,17.3328251 0.937042933,17.0624853 C0.666937928,16.7919094 0.5,16.4180343 0.5,16.0049107 L0.5,16.0049107 L0.5,1.99508929 C0.5,1.58276285 0.668004384,1.20956425 0.937982214,0.939115732 C1.20845064,0.668175764 1.58149928,0.5 1.99161703,0.5 L1.99161703,0.5 L28.008383,0.5 Z' id='Rectangle-4' stroke='%23727272'%3E%3C/path%3E%3Crect id='Rectangle-5' fill='%23727272' x='6' y='5' width='5' height='3' rx='1'%3E%3C/rect%3E%3Cline x1='6' y1='12.5' x2='24' y2='12.5' id='Line' stroke='%23727272' fill='%23D8D8D8' stroke-linecap='square'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.payment-option-shopping-tb {
  .form-group {
    .input-row-cart {
      position: relative;

      span.custom-icon-span {
        position: absolute;
        top: 15px;
        right: 20px;
      }

      .form-control {
        padding-right: 60px;
      }
    }
  }
}

@media (max-width: 767px) {
  .shipping-info-list-root-div {
    .shipping-info-list-box {
      .shipping-info-list-box-top {
        padding: 15px;

        .left-sp-div {
          width: 100%;

          .sp-box {
            .product-tbl-img {
              .img-responsive {
                height: 50px;
                width: 50px;
              }
            }

            .product-tbl-description {
              padding: 4px 0 4px 15px;
              width: calc(100% - 50px);

              h3 {
                font-size: 18px;
              }

              p {
                font-size: 12px;
              }
            }
          }
        }

        .right-sp-div {
          width: 100%;

          .sp-d-content {
            padding: 10px 0 0 0;

            p {
              text-align: left;
            }
          }
        }
      }

      .radio-block-div-sp {
        padding: 0 15px 10px 15px;
      }

      .collapse-root-div {
        .collapse-box-div {
          .collapse-toggle-link {
            padding: 10px 40px 9px 15px;

            .fe {
              right: 15px;
            }
          }

          .collapse-box-body-div {
            .collapse-inner-body {
              padding: 15px;
            }
          }
        }
      }
    }
  }

  .middle-section {
    .middle-inner {
      .shopping-cart-section {
        .shopping-cart-tab {
          .cart-tab-body {
            .payment-selection {
              .payment-option-shopping-tb {
                .payment-option-box {
                  .payment-card-label {
                    padding: 25px 15px 10px 20px;

                    h3 {
                      margin: 0 0 5px 0;
                    }
                  }
                }
              }
            }

            .cart-footer {
              .btn-row {
                .btn {
                  span.ns-text {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
